<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226588533435-lt0cfc0bdsdjo1u6f79rn4mevtvsgk72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226588533435-lt0cfc0bdsdjo1u6f79rn4mevtvsgk72</string>
	<key>API_KEY</key>
	<string>AIzaSyDNU7RvbBnLGy7YO6DZAdissxttkIe_tq4</string>
	<key>GCM_SENDER_ID</key>
	<string>226588533435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slumberjer.sfarmskte</string>
	<key>PROJECT_ID</key>
	<string>esp-firebase-demo-a15c2</string>
	<key>STORAGE_BUCKET</key>
	<string>esp-firebase-demo-a15c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226588533435:ios:30030ed40b2fca832e7f9e</string>
	<key>DATABASE_URL</key>
	<string>https://esp-firebase-demo-a15c2-default-rtdb.firebaseio.com</string>
</dict>
</plist>